{% extends 'base.html.twig' %}

{% block body %}

    <img src="{{ asset('pictures/bleach-ichigo.jpg')}}" alt="Ichigo" />

    <a href="{{ path('user_index')}}">Homepage</a>

    {% for user in users %}
        <p>
        <a href="{{ path('user_profile', {id: user.id}) }}">{{ user.name }}</a>
        </p>
    {% endfor %}

{% endblock %}
